<div class="add-job-space-container">
  <h4>Create a job space</h4>
  <div>
  </div>
  <mat-dialog-content>
    <input
      [(ngModel)]="jobSpace.name"
      class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
      id="username" name="username" placeholder="Enter the job space name"
      required type="text"
    />
    <label style="padding-top: 10px">Add from your connections</label>
    <div *ngIf="!loadingConnections" style="width: 100%">
      <div *ngFor="let userConnection of userConnections | async" class="grid-container">
        <div>
          <div class="py-2">
            <div class="row py-2">
              <div class="col-md-12 ">
                <div class="container">
                  <p>
                    {{userConnection.originUser.firstName + " " + userConnection.originUser.lastName}}
                  </p>
                  <div (click)="toggleSelection(userConnection.originUser)"
                       [ngClass]="{ 'selected': isSelected(userConnection.originUser) }"
                       class="skill-button">
                    <span class="skill-name">Add</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button (click)="addJobSpace()" class="post-button">Post</button>
    <button (click)="closeDialog()" class="cancel-button">Cancel</button>
  </mat-dialog-actions>
</div>
