.add-job-space-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 16px;
  max-width: 95%;
  margin-top: 20px; /* Add some top margin */
}

.user {
  display: inline-flex;

}



.grid-item {
  background-color: #ccc;
  border: 1px solid #333;
  padding: 20px;
  text-align: center;
}

.user-profile img {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 50%;
  margin-right: 16px;
}




.post-button {
  text-align: center; /* Center the text within the button */
  margin-right: 20px;
  width: 70px;
  height: 50px;
  background-color: #007bff; /* Set button background color to blue */
  color: #fff; /* Set button text color to white */
  border-radius: 10px; /* Set border radius for rounded corners */
}

.post-button:hover {
  background-color: #0056b3; /* Change button background color on hover */
}

.cancel-button {
  text-align: center; /* Center the text within the button */
  margin-right: 20px;
  width: 70px;
  height: 50px;
  background-color: #cccccc; /* Set button background color to blue */
  color: #fff; /* Set button text color to white */
  border-radius: 10px; /* Set border radius for rounded corners */
}


.container {
  gap: 16px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.skill-button {
  display: inline-flex;
  flex-direction: row;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
}

.skill-button:hover {
  background-color: #3498db;
  color: #fff;
}

.selected {
  background-color: #3498db;
  color: #fff;
}
