.post-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  margin-top: 20px;
  max-width: 600px; /* Set a maximum width */
  width: 140%; /* Make sure it takes full width */
}

.user {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 16px;
}

.user-info {
  flex-grow: 1; /* Allow the user info to grow */
}

.user-info h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.user-info p {
  margin: 0;
  color: #888888;
}

.post-content p {
  margin: 0;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-top: 10px;
}
.hire-button {
  text-align: center;
  margin-right: 20px;
  width: 60px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
}

.hire-button:hover {
  background-color: #0056b3;
}
.applicants-container{
  margin-bottom: 10px;
}
.jobs-div {
  height: 100%;
  overflow: scroll;
  margin-right: 25px;
}
.options {
  width: 20%;
  height: fit-content;
  margin: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.network {
  height: 100%;
  display: flex;
  flex-direction: row;
}
