<div class="network">
  <div class="options col-md-4">
    <button mat-button (click)="findJobPosts(false)">
      <mat-icon svgIcon="notifications"></mat-icon>
      <span class="button-text">Open Jobs</span>
    </button>
    <button mat-button (click)="findJobPosts(true)">
      <mat-icon svgIcon="people"></mat-icon>
      <span class="button-text">Closed Jobs</span>
    </button>
    <button mat-button (click)="myApplications()">
      <mat-icon svgIcon="people"></mat-icon>
      <span class="button-text">My Applications</span>
    </button>
  </div>
  <div class="jobs-div col-md-8" >

    <div class="col-md-12" *ngIf="!(state | async)?.loading && !closed && !applications">
      <div *ngFor="let post of (state | async)?.posts! " class="post-container">
        <div class="user">
          <div>
            <div class="user-info">
              <h4>{{ post.user.firstName }} {{ post.user.lastName }}</h4>
              <p>{{ datePipe.transform(post.postDate, 'yyyy-MM-dd') }}</p>
            </div>
          </div>
        </div>
        <h4>{{post.jobPostTitle}}</h4>
        <div class="post-content">
          <p>{{ post.jobPostDescription }}</p>
        </div>
        <h4>Applications</h4>

        <div *ngFor="let applicant of post.applicants " class="applicants-container">
          <div class="user">
            <div class="user-profile">
              <img alt="/assets/images/user.png" src="http://localhost:8091/file/{{post.user.userImage}}">
            </div>
            <div class="user-info">
              <p>{{applicant.firstName}} {{applicant.lastName}}</p>
            </div>
            <button (click)="openDialog(applicant.firstName,applicant.lastName,post.jobPostTitle,post.id,applicant.id)" class="hire-button">Hire</button>

          </div>
        </div>
      </div>

    </div>


    <div class="col-md-12" *ngIf="!(state | async)?.loading && closed && !applications">
      <div *ngFor="let post of (state | async)?.posts! " class="post-container">
        <div class="user">
          <div>
            <div class="user-info">
              <h4>{{ post.user.firstName }} {{ post.user.lastName }}</h4>
              <p>{{ datePipe.transform(post.postDate, 'yyyy-MM-dd') }}</p>
            </div>
          </div>
        </div>
        <h4>{{post.jobPostTitle}}</h4>

        <div class="post-content">
          <p>{{ post.jobPostDescription }}</p>
        </div>
        <h4>Hired User</h4>

        <div  class="applicants-container">
          <div class="user">
            <div class="user-profile">
              <img alt="/assets/images/user.png" src="http://localhost:8091/file/{{post.user.userImage}}">
            </div>
            <div class="user-info">
              <p>{{post.hiredUser.firstName}} {{post.hiredUser.lastName}}</p>
            </div>
            <button  class="hire-button" (click)="openRateDialog(post.id,post.jobPostTitle,post.hiredUser.firstName+post.hiredUser.lastName)" > Rate</button>

          </div>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      <div *ngFor="let post of (myApplicationList| async) " class="post-container">
        <div class="user">
          <div>
            <div class="user-info">
              <h4>{{ post.user.firstName }} {{ post.user.lastName }}</h4>
              <p>{{ datePipe.transform(post.postDate, 'yyyy-MM-dd') }}</p>
            </div>
          </div>
        </div>
        <h4>{{post.jobPostTitle}}</h4>
      </div>

    </div>
  </div>




</div>

