<mat-dialog-content>
<div *ngIf="pdfUrl.length==0" >
 <p>
   Are you sure you want to hire {{data.firstName}} {{data.lastName}} for the job
   {{data.jobPostTitle}}
 </p>
</div>
  <div class="pdf-container" *ngIf="pdfUrl.length!=0" >
    <button (click)="downloadPdf()">Download PDF</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="closeDialog()" class="cancel-button" style="padding-right: 10px ">Cancel</button>
  <button (click)="hireForJob()"   class="confirm-button">Confirm</button>

</mat-dialog-actions>


