<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="min-h-screen bg-gray-100 text-gray-900 flex justify-center">
<form #myForm="ngForm" (ngSubmit)="onSubmitUserProfile()" class="login-form">
  <div class="wrapper bg-white mt-sm-5 ">
    <h4 class="pb-4 border-bottom">Account settings</h4>
    <div class="d-flex align-items-start py-3 border-bottom">
      <img *ngIf="userPhoto" [src]="userPhoto" alt="Selected Image" class="img">
      <img *ngIf="!userPhoto"
           alt="Default Image"
           class="img"
           src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      <div class="pl-sm-4 pl-2" id="img-section">
        <b>Profile Photo</b>
        <p>Accepted file type .png. Less than 1MB</p>
        <input (change)="onFileSelected($event)" id="fileInput" style="display: none" type="file"/>
        <label class="btn button border" for="fileInput"><b>Upload</b></label>
      </div>
    </div>
    <div class="py-2">
      <div class="row py-2">
        <div class="col-md-6">
          <label>First Name</label>
          <input [(ngModel)]="firstName" class="bg-light form-control" name="firstname" placeholder="Steve" required
                 type="text">
        </div>
        <div class="col-md-6 pt-md-0 pt-3">
          <label>Last Name</label>
          <input [(ngModel)]="lastName" class="bg-light form-control" name="lastname" placeholder="Smith" required
                 type="text">
        </div>
      </div>
      <div class="row py-2">
        <div class="col-md-6">
          <label for="language">Language</label>
          <div class="arrow">
            <select class="bg-light" id="language" name="language">
              <option selected value="english">English</option>
              <option value="english_us">English (United States)</option>
              <option value="enguk">English UK</option>
              <option value="arab">Arabic</option>
            </select>
          </div>

        </div>
        <div class="col-md-6 pt-md-0 pt-3">
          <label>Phone Number</label>
          <input [(ngModel)]="phoneNumber" class="bg-light form-control" name="phoneNumber"
                 placeholder="+1 213-548-6015"
                 required type="tel">
        </div>
      </div>
      <div class="row py-2">
        <div class="col-md-6">
          <label for="country">Country</label>
          <select [(ngModel)]="selectedCountry.alpha2" id="country" name="country">
            <option *ngFor="let country of countries" [value]="country.alpha2">
              {{ country.name }}
            </option>
          </select>
        </div>
        <div class="col-md-6 pt-md-0 pt-3" id="lang">
          <label>State</label>
          <input [(ngModel)]="state" class="bg-light form-control" name="state" placeholder="New York" required
                 type="text">
        </div>
        <div>
          <div class="signature">
            <p>Set up your signature</p>
            <canvas #canvas width="400" height="300"></canvas>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="wrapper bg-white mt-sm-5 ml-2 ">
    <div>
      <h4 class="pb-4 border-bottom">Tell us about your skills</h4>
      <div class="row py-2">
        <div class="col-md-6">
          <label for="country">Occupation</label>
          <select (ngModelChange)="updateSelectedOccupation($event)" [(ngModel)]="selectedOccupation" class="bg-light"
                  name="occupation">
            <option *ngFor="let occupation of occupations$ | async"
                    [ngValue]="occupation">{{ occupation.name }}</option>
          </select>
        </div>
      </div>
      <div class="py-2">
        <div class="row py-2">
          <div class="col-md-12 ">
            <label for="country">Skills</label>
            <div class="container ">
              <div (click)="toggleSelection(skill)" *ngFor="let skill of skills$ | async"
                   [ngClass]="{ 'selected': isSelected(skill) }"
                   class="skill-button">
                <span class="skill-name">{{ skill.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <button [disabled]="!myForm.valid" class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  </div>
</form>
</body>
</html>

