/*.container {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: flex-end;*/
/*  height: 80vh;*/
/*  padding-right: 100px;*/
/*  padding-top: 5%;*/
/*}*/

/*.login-form {*/
/*  background-color: #fff;*/
/*  border-radius: 10px;*/
/*  padding: 30px;*/
/*  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);*/
/*  color: #333;*/
/*  text-align: center;*/
/*  width: 400px;*/
/*}*/

/*.form-group {*/
/*  position: relative;*/
/*  margin-bottom: 25px;*/
/*}*/

/*label {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 8px;*/
/*  transform: translateY(-50%);*/
/*  color: #333;*/
/*  pointer-events: none;*/
/*  transition: 0.3s ease all;*/
/*}*/

/*input {*/
/*  width: 100%;*/
/*  padding: 12px 8px;*/
/*  box-sizing: border-box;*/
/*  background: none;*/
/*  border: none;*/
/*  border-bottom: 2px solid #333;*/
/*  color: #333;*/
/*  outline: none;*/
/*  transition: 0.3s ease border-bottom;*/
/*  margin-top: 20px; !* Adjusted margin *!*/
/*}*/

/*input:focus {*/
/*  border-bottom: 2px solid #005B96;*/
/*}*/

/*input:focus + label,*/
/*input:not(:placeholder-shown) + label {*/
/*  top: -12px;*/
/*  font-size: 12px;*/
/*  color: #005B96;*/
/*}*/

/*button {*/
/*  background-color: #005B96;*/
/*  color: #fff;*/
/*  padding: 10px 20px;*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  cursor: pointer;*/
/*  font-size: 16px;*/
/*  transition: background-color 0.3s ease;*/
/*  margin-right: 10px;*/
/*}*/

/*button:hover {*/
/*  background-color: #003366;*/
/*}*/

/*.link {*/
/*  color: #005B96;*/
/*  text-decoration: none;*/
/*  font-weight: bold;*/
/*}*/

/*.social-buttons {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  margin-top: 20px;*/
/*}*/

/*.google-button,*/
/*.facebook-button {*/
/*  background-color: #fff;*/
/*  color: #333;*/
/*  border: 1px solid #333;*/
/*  padding: 10px 20px;*/
/*  border-radius: 5px;*/
/*  cursor: pointer;*/
/*  font-size: 16px;*/
/*  margin-right: 10px;*/
/*  transition: background-color 0.3s ease;*/
/*}*/

/*.google-button:hover,*/
/*.facebook-button:hover {*/
/*  background-color: #333;*/
/*  color: #fff;*/
/*}*/


/*#bgImage {*/
/*  position: absolute;*/
/*  top: 55%;*/
/*  right: 0;*/
/*  transform: translate(-120%, -50%);}*/
/*#logo {*/
/*  position: absolute;*/
/*  top: 5%;*/
/*  left: 50%;*/
/*  transform: translateX(-50%);*/
/*}*/
