<html>
<body class="min-h-screen bg-gray-100 text-gray-900 flex justify-center">
<!--<div-->
<!--  class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1"-->
<!--&gt;-->
<div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">

  <div class="mt-12 flex flex-col items-center">
    <div class="image-container">
      <img id="logo" src="/assets/images/logo.png">
    </div>

    <div class="w-full flex-1 mt-8">

      <div class="mx-auto max-w-xs">
        <form (ngSubmit)="onLogin()" class="login-form">
          <input
            [(ngModel)]="username"
            class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
            id="username" name="username" placeholder="Enter your username"
            required type="text"
          />
          <input
            [(ngModel)]="password"
            class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5"
            name="password" placeholder="Enter your password"
            required type="password"
          />
          <button
            [disabled]="isLoggingIn"
            class="mt-5 tracking-wide font-semibold bg-blue-500 text-gray-100 w-full py-4 rounded-lg hover:bg-blue-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
            type="submit">
            <svg
              class="w-6 h-6 -ml-2"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            >
              <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"/>
              <circle cx="8.5" cy="7" r="4"/>
              <path d="M20 8v6M23 11h-6"/>
            </svg>
            <span *ngIf="!isLoggingIn" class="ml-3">Login</span>
            <mat-progress-spinner *ngIf="isLoggingIn" color="primary" diameter="20"
                                  mode="indeterminate"></mat-progress-spinner>

          </button>
        </form>
        <p class="mt-6 text-xs text-gray-600 text-center">
          I agree to
          <a class="border-b border-gray-500 border-dotted" href="#">
            Terms of Service
          </a>
          and
          <a class="border-b border-gray-500 border-dotted" href="#">
            Privacy Policy
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="my-12 border-b text-center">
    <div
      class="leading-none px-2 inline-block text-sm text-gray-600 tracking-wide font-medium bg-white transform translate-y-1/2"
    >

      <a href="/signup">Dont Have and account ? Create one </a>
    </div>
  </div>


</div>
<div class="flex-1 bg-indigo-100 text-center hidden lg:flex">
  <div
    class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat"
    style="background-image: url('/assets/images/authbg.png');"
  ></div>
</div>
<!--</div>-->

</body>
</html>
