<div class="home col-md-12">
  <div class="sidebar col-md-3">
    <app-user-profile-side-bar></app-user-profile-side-bar>
  </div>
  <div class="posts col-md-8">
    <app-add-post></app-add-post>
    <app-post></app-post>
  </div>
</div>
