.home {
  display: flex;
  flex-direction: row;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  flex: 0.7; /* Take up remaining vertical space */
  margin-left: 35%;
}

.sidebar {
  flex-direction: column;
  display: block;
  height: 600px;
  position: fixed;
}




