<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar class="toolbar">
  <div class="search-bar" fxLayout="row" fxLayoutAlign="start center">
    <img alt="Logo" class="logo" src="assets/images/logosmall.png">
    <div class="w-full relative flex items-center" style="padding-left: 20px">
      <i class="fas fa-search absolute  text-gray-400 ml-4"></i>
      <input
        class="w-full px-12 py-2 rounded-lg bg-blue-100 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-800 focus:bg-blue"
        name="search" placeholder="Search" required type="search"
        (input)="onInput($event)"
        (focus)="showPopup()"
        (blur)="hidePopup()"
        #searchField >
      <div class="popup" *ngIf="isPopupVisible" [style.top]="popupTop" [style.left]="popupLeft">
        <!-- Popup content here, like search suggestions -->
        <p *ngFor="let suggestion of (suggestions |async) " (click)="navigateToUserDetails(suggestion.id)">
          {{ suggestion.firstName }}  {{ suggestion.lastName }}</p>
      </div>

    </div>
  </div>
  <div class="nav-buttons" fxLayout="row" fxLayoutAlign="end center">
    <button mat-button routerLink="/main/home">
      <mat-icon svgIcon="home"></mat-icon>
      <span class="button-text">Home</span>
    </button>
    <button mat-button routerLink="/main/chat">
      <mat-icon
                svgIcon="notifications"></mat-icon>
      <span class="button-text">Chat</span>
    </button>
    <button mat-button routerLink="/main/network/connections">
      <mat-icon svgIcon="people"></mat-icon>
      <span class="button-text">Network</span>
    </button>
    <div [matMenuTriggerFor]="menu" class="dropdown">
      <button>
        <mat-icon svgIcon="user"></mat-icon>
        <span class="button-text">Me</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/main/my-jobs">My Jobs</button>
        <button mat-menu-item routerLink="/main/notifications">Settings & Privacy</button>
        <button mat-menu-item routerLink="/main/notifications">Help</button>
        <button mat-menu-item (click)="logout()" routerLink="/login">Sign Out</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
