
.toolbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  justify-content: space-between;
}



.search-bar {
  margin-left: 5%;
}

.nav-buttons {
  margin-right: 16px;
  gap: 25px;
}

.rounded-button {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mat-toolbar {
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 0px 3px 1px rgba(0, 0, 0, 0.12);
  background-color: #ffffff; /* White */
}

.mat-icon {
  filter: invert(70%) sepia(0%) saturate(7000%) hue-rotate(200deg);
}

.button-text {
  font-size: 12px;
  margin-top: 5px;
}

.user-items {
  display: flex;
  flex-direction: column; /* Items will appear in a column */
}
.popup {
  position: absolute;

  width: 100%;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 10;
  padding: 10px;
  margin-top: 4px;
}
