<mat-progress-spinner *ngIf="loading" color="primary" diameter="20" mode="indeterminate"></mat-progress-spinner>
<div *ngFor="let post of (posts | async)?.jobPost" class="post-container">
  <div class="user">
    <div class="user-profile">
      <img  alt="/assets/images/user.png" src="http://localhost:8091/file/{{post.user.userImage}}">
    </div>
    <div>
      <div class="user-info">
        <h4>{{ post.user.firstName }} {{ post.user.lastName }}</h4>
        <p>{{ datePipe.transform(post.postDate, 'yyyy-MM-dd') }}</p>
      </div>
    </div>
  </div>
  <div class="post-content">
    <h4>{{ post.jobPostTitle }}</h4>
    <p>{{ post.jobPostDescription }}</p>
  </div>
  <div class="img-container" *ngIf="post.postImageUrl">
    <img   src="http://localhost:8091/file/{{ post.postImageUrl  }} ">
  </div>
  <div class="post-actions">
    <button (click)="react()"><i class="fas fa-thumbs-up"></i> Like</button>
    <div class="vertical-divider"></div>
    <button (click)="comment()"><i class="fas fa-comment"></i> Comment</button>
    <div class="vertical-divider"></div>
    <button (click)="share()"><i class="fas fa-share"></i> Share</button>
    <div *ngIf="!showHireButton(post.user.id)" class="vertical-divider"></div>
    <button *ngIf="!showHireButton(post.user.id)" (click)="applyForJob(post.id,post.jobPostTitle)"><i class="fas fa-suitcase"></i> Apply</button>
  </div>
</div>
