.post-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-bottom: 16px;
  margin-top: 20px;
  max-width: 600px; /* Set a maximum width */
  width: 140%; /* Make sure it takes full width */
}

.user {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}

.user-info {
  flex-grow: 1; /* Allow the user info to grow */
}

.user-info h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.user-info p {
  margin: 0;
  color: #888888;
}

.post-content p {
  margin: 0;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-top: 10px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.post-actions button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.post-actions i {
  margin-right: 4px;
}

.vertical-divider {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 8px;
}

@media (max-width: 600px) {
  .post-container {
    max-width: none;
  }
}
