.main-content {
  padding-top: 64px;
  height: 100%;
}
/* Main content styles */
.main-content {
  display: block;
  height: -webkit-fill-available;
}

/* Container for the router outlet and notifications */
.content-container {
  display: flex; /* Creates a flex container */
  flex-direction: row; /* Aligns items in a row */
  flex: 1; /* Ensures it takes the remaining space */
  overflow: hidden; /* Prevents overflow */
  height: -webkit-fill-available;
}

/* Styles for the router outlet content */
.router-content {
  flex: 1; /* Takes up remaining space */
  overflow-y: auto; /* Allows vertical scrolling if content overflows */
  box-sizing: border-box; /* Includes padding and border in element's total width and height */
}

/* Styles for the notifications */
.notifications {
  width: 330px; /* Fixed width for the notifications panel */
  background-color: #f9f9f9; /* Optional background color */
  border-left: 1px solid #ddd; /* Optional border for separation */
  overflow-y: auto; /* Allows vertical scrolling if content overflows */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for visual separation */
  box-sizing: border-box; /* Includes padding and border in element's total width and height */
}

/* Optional: Make the layout responsive */
@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column; /* Stacks elements vertically on smaller screens */
  }
  .notifications {
    width: 100%; /* Notifications take full width on smaller screens */
    border-left: none; /* Removes border */
    border-top: 1px solid #ddd; /* Adds border to top instead */
  }
}
