<app-app-navbar></app-app-navbar>
<div class="main-content">
  <div class="content-container">
    <div class="router-content">
      <router-outlet></router-outlet>
    </div>
    <div class="notifications">
      <app-notifications></app-notifications>
    </div>
  </div>
</div>
