.user-side-bar {
  width: 100%;
  height: 100%;
  margin: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eeeeee;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
