<div class="user-side-bar">
  <div class="user-profile">
    <img alt="/assets/images/user.png" src="http://localhost:8091/file/{{ userProfile.userImage  }} ">
  </div>
  <p>
    {{ userProfile.firstName  }}    {{ userProfile.lastName  }}

  </p>
  <p>
    {{ userProfile.occupation.name  }}

  </p>
</div>
