.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-top: 10px;
}
.accept-button {
  align-self: end;
  text-align: center;
  margin-top: 10px;
  width: 60px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
}
.download-button {
  align-self: end;
  text-align: center;
  margin-top: 30px;
  width: 80px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
}
.user-info{
  margin: 16px
}

.accept-button:hover {
  background-color: #0056b3;
}
.decline-button {
  align-self: end;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  width: 60px;
  height: 40px;
  background-color: #cccccc;
  color: #fff;
  border-radius: 10px;
}
.decline-button:hover {
  background-color: #0056b3;
}
.user-details{
  flex-direction: row;
  display: flex;

}
.buttons-align{
  flex-direction: row;
  align-self: start;

}
.user {
  margin: 16px;
  display: flex;
  width:300px;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}
.user-profile img {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 50%;
  margin: 16px;
}
