<div *ngIf="!(state | async)?.loading">
  <div *ngFor="let notification of (state | async)?.Notifications! " class="post-container">
    <div *ngIf="notification.context == NotificationContext.CONNEXION">
      <div class="user">
        <div class="user-details">
          <div class="user-profile">
            <img alt="assets/images/user.png" src="assets/images/user.png">
          </div>
          <div class="user-info">
            <h5>{{ notification.sender.firstName }} {{ notification.sender.lastName }}</h5>
            <h6>{{ notification.message }}</h6>
          </div>
        </div>
       <div class="buttons-align">
         <button class="accept-button">Accept</button>
         <button class="decline-button">Decline</button>
       </div>
      </div>

    </div>
    <div *ngIf="notification.context == NotificationContext.JOBSPACE">
      <div class="user">
        <div class="user-profile">
          <img alt="assets/images/user.png" src="http://localhost:8091/file/{{notification.sender.userImage}}">
        </div>
        <div class="user-info">
          <h4>{{ notification.sender.firstName }} {{ notification.sender.lastName }}</h4>
          <p>{{ notification.message }}</p>
        </div>
        <button class="accept-button">Accept</button>
        <button class="decline-button">Decline</button>
      </div>
    </div>
    <div *ngIf="notification.context == NotificationContext.JOBPOST">
      <div class="user">
        <div class="user-profile">
          <img alt="/assets/images/user.png" src="http://localhost:8091/file/{{notification.sender.userImage}}">
        </div>
        <div class="user-info">
          <h4>{{ notification.sender.firstName }} {{ notification.sender.lastName }}</h4>
          <p>{{ notification.message }}</p>
        </div>
        <button class="download-button"><p>Download Contract</p></button>
      </div>
    </div>
  </div>
</div>
