<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container" *ngIf="!(userProfileState|async)?.loading">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{(userProfileState|async)!.profile!.user!.username }} </h4>
                <p class="text-secondary mb-1">{{(userProfileState|async)!.profile!.occupation!.name}}</p>
                <p class="text-muted font-size-sm">{{(userProfileState|async)!.profile!.country}} , {{(userProfileState|async)!.profile!.governance}}</p>
                <button (click)="addUser()" class="btn btn-primary">add</button>
                <button class="btn btn-outline-primary" >Message</button>
              </div>
            </div>
          </div>
        </div>
<!--        <div class="card mt-3">-->
<!--          <div class="rating">-->
<!--            <span>Software Developer</span>-->
<!--            <i class="fa-solid fa-star"></i>-->
<!--            <i class="fa-solid fa-star"></i>-->
<!--            <i class="fa-solid fa-star"></i>-->
<!--            <i class="fa-regular fa-star empty"></i>-->
<!--            <i class="fa-regular fa-star empty"></i>-->
<!--          </div>-->
<!--          <div class="rating">-->
<!--            <span>System design</span>-->
<!--            <i class="fa-solid fa-star"></i>-->
<!--            <i class="fa-solid fa-star"></i>-->
<!--            <i class="fa-regular fa-star empty"></i>-->
<!--            <i class="fa-regular fa-star empty"></i>-->
<!--            <i class="fa-regular fa-star empty"></i>-->
<!--          </div>-->
<!--          <div class="rating">-->
<!--            <span>Data Analysis</span>-->
<!--            <i class="fa-solid fa-star"></i>-->
<!--            <i class="fa-solid fa-star"></i>-->
<!--            <i class="fa-solid fa-star"></i>-->
<!--            <i class="fa-solid fa-star"></i>-->
<!--            <i class="fa-regular fa-star empty"></i>-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{(userProfileState|async)!.profile!.firstName! }} {{(userProfileState|async)!.profile!.lastName!}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <p>{{(userProfileState|async)!.profile!.user.email! }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{(userProfileState|async)!.profile!.phoneNumber! }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{(userProfileState|async)!.profile!.country}} , {{(userProfileState|async)!.profile!.governance}}
              </div>
            </div>
          </div>
        </div>
        <div class="row gutters-sm">
          <div class="col-sm-6 mb-6">
            <div class="card h-100">
              <div class="card-body">
                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Skills</h6>
                <div class="skills" *ngFor="let skill of (userProfileState|async)!.profile!.skills">
                  <p>
                    {{skill.name}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
