<div class="add-post-container">
  <div class="post-input">
    <div class="user-profile">
      <img alt="/assets/images/user.png"
           src="http://localhost:8091/file/{{ localStorage.getData('userProfile').userImage  }} ">
    </div>
    <button
      (click)="openDialog()"
      class="w-full px-16 py-4 rounded-xl border border-gray bg-white placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400">
      Start a post
    </button>
  </div>
  <div class="post-actions">
    <button><i class="fas fa-picture-o"></i> Media</button>
    <div class="vertical-divider"></div>
    <button><i class="fas fa-calendar"></i> Event</button>
  </div>
</div>
