
.pending-requests {
  width: 100%;
  height: fit-content;
  margin: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;

}

.suggestion {
  margin: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 100%;
  height: 100%;
}

.connections {
  width: 200%;
  display: block;
  height: 100%;
  flex-direction: column;
}

.pending-requests-container {
  display: flex;
  flex-direction: column;
}

.pending-request {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-right: 20px; /* Adjust margin between items */
  margin-bottom: 20px; /* Adjust margin between items */
  justify-content: space-between;
}

.icons {
  display: flex;
  align-items: center; /* Center icons vertically */
}

.icons i {
  font-size: 20px; /* Adjust icon size as needed */
  margin-left: 10px; /* Add space between icons and text */
}

.user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.add-button {
  text-align: center;
  margin-top: 30px;
  width: 80px;
  height: 50px;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
}

.grid-container {
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
  gap: 20px;
}

.grid-item {
  flex-direction: row;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.grid-item:hover {
  transform: translateY(-5px);
}

.suggestion-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.suggestion-body {
  font-size: 1em;
  color: #666;
}

