<div class="connections">
  <div class="pending-requests">
    <p>Pending Requests</p>
    <div *ngIf="!loading" class="pending-requests-container">
      <div *ngFor="let pendingConnection of pendingConnections | async" class="pending-request">
        <div class="user-profile">
          <img alt="/assets/images/user.png" src="/assets/images/user.png">
        </div>
        <div>{{ pendingConnection.originUser.firstName + " " + pendingConnection.originUser.lastName }}</div>
        <div class="icons">
          <button (click)="onAcceptConnectionRequest(true,pendingConnection.id)"><i class="fas fa-check-circle"></i>
          </button>
          <button (click)="onAcceptConnectionRequest(false,pendingConnection.id)"><i class="fas fa-times-circle"></i>
          </button> <!-- Cross icon -->
        </div>
      </div>

    </div>
  </div>
  <div class="suggestion">
    <p>Suggestions</p>
    <div style="overflow: scroll ; height: 100%">
      <div class="grid-container" *ngIf="!(state |async)?.loading" >
        <div class="grid-item" *ngFor="let profile of (state |async)?.profiles" >
          <div class="suggestion-title">{{profile.firstName}} {{profile.lastName}}</div>
          <div class="suggestion-body">{{profile.occupation.name}}</div>
          <button class="add-button" (click)="onAddConnection(profile.id)"><p>add</p></button>
        </div>
      </div>
      <div style="height: 200px"></div>
    </div>
  </div>
</div>
