.post-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
  padding: 8px;
  max-width: 95%;
  margin-top: 20px; /* Add some top margin */
}

.user {
  display: inline-flex;

}

.user-profile img {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  border-radius: 50%;
  margin-right: 16px;
}

.user-info h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.user-info p {
  margin: 0;
  color: #888888;
}

.custom-dialog-content {
  background-color: transparent;
  padding: 16px;
}

.post-content {
  box-sizing: border-box; /* Ensures padding doesn't shrink the content area */
  border: 0px solid #ccc; /* Adds a simple border */
}

.post-content:focus {
  outline: none; /* Remove default focus outline */
  border-color: transparent; /* Set border color to transparent when focused */
}

.post-button {
  text-align: center; /* Center the text within the button */
  margin-right: 20px;
  width: 70px;
  height: 50px;
  background-color: #007bff; /* Set button background color to blue */
  color: #fff; /* Set button text color to white */
  border-radius: 20px; /* Set border radius for rounded corners */
}

.post-button:hover {
  background-color: #0056b3; /* Change button background color on hover */
}

.post-actions {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Add some top margin */
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Add some top margin */
}
