<div class="post-container">
  <div class="user">
    <div class="user-profile">
      <img alt="User Profile Image" src="http://localhost:8091/file/{{ userProfile.userImage  }}">
    </div>
    <div class="post-content">
      <div class="user-info">
        <h4>Youssef Aouadni</h4>
      </div>
    </div>
  </div>
  <div>
    <button (click)="closeDialog()" class="close-button">
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>

<mat-dialog-content>
  <div *ngIf="loading$">
    <input
      [(ngModel)]="postModel.jobPostTitle"
      class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
      id="job" name="job" placeholder="Enter the job post title"
      required type="text"
    />
    <div class="post-editor-container">
      <textarea [(ngModel)]="postModel.jobPostDescription" class="post-content" cols="300"
                placeholder="Write your post..." rows="9"
                style="width:100%;"></textarea>
      <img *ngIf="selectedImage" [src]="displayedImage" alt="Selected Image" class="img">
    </div>
    <div class="dialog-actions">
      <div class="post-actions">
        <input (change)="onFileSelected($event)" id="fileInput" style="display: none" type="file"/>
        <label class="btn button border" for="fileInput"><i class="fas fa-picture-o"></i></label>
        <input (change)="onFileSelected($event)" id="event" style="display: none" type="file"/>
        <label class="btn button border" for="fileInput"><i class="fas fa-calendar"></i></label>
      </div>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button (click)="addPost()" class="post-button">Post</button>
</mat-dialog-actions>
