<div class="network col-md-12">
  <div class="options col-md-3">
    <button mat-button routerLink="/main/network/connections">
      <mat-icon svgIcon="connections"></mat-icon>
      <span class="button-text">Connections</span>
    </button>
    <button mat-button routerLink="/main/network/jobSpace">
      <mat-icon svgIcon="job-space"></mat-icon>
      <span class="button-text">Job Spaces</span>
    </button>

  </div>
  <div class="col-md-4">  <router-outlet></router-outlet>
  </div>
</div>
