.options {
  width: 20%;
  height: 20%;
  margin: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.network {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}
