
<div class="row chat-page-container" style="height: calc(100% - 640px)">
  <div class="col-md-4">

    <div class="discussions">
      <div class="discussion search">
        <div class="searchbar">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" placeholder="Search...">
        </div>

      </div>

      <div class="connections-list" *ngFor="let chatRoom of chatRooms |async">
        <div class="discussion " (click)="onSelectUser(chatRoom)">
          <div class="photo"
               style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
            <div class="online"></div>
          </div>
          <div class="desc-contact">
            <p class="name">{{chatRoom.members![0].userProfile.firstName}} {{chatRoom.members![0].userProfile.lastName}}</p>
            <p class="message">{{chatRoom.last.body}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 chat-container">
    <div class="row chat-column" >
      <div class="header-chat">
        <i class="icon fa fa-user-o" aria-hidden="true"></i>
        <p
          class="name">{{(selectedChatRoom | async)!.members![0].userProfile.firstName }} {{(selectedChatRoom | async)!.members![0].userProfile.lastName }}</p>
      </div>
      <div class="chat" >

        <form (ngSubmit)="sendMessage()" class="message-form">
          <div class="footer-chat">
            <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
            <input name="message" [(ngModel)]="message" type="text" class="write-message" placeholder="Type your message here" (submit)="sendMessage()">
            <i class="icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i>
          </div>
        </form>
        <div class="chat-list">

          <div class="messages-chat" *ngFor="let chatMessage of messages|async">

            <div *ngIf="itsMe(chatMessage)" class="message text-only">
              <div class="response">
                <p class="text"> {{chatMessage.body}}</p>
              </div>
            </div>
            <div class="message" *ngIf="!itsMe(chatMessage)" >
              <div class="photo"
                   style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
                <div class="online"></div>
              </div>
              <p class="text"> {{chatMessage.body}} </p>
            </div>
<!--                  <div class="message text-only">-->
<!--                    <p class="text"> What are you doing tonight ? Want to go take a drink ?</p>-->
<!--                  </div>-->
<!--                  <p class="time"> 14h58</p>-->
<!--                  -->
<!--                  <div class="message text-only">-->
<!--                    <div class="response">-->
<!--                      <p class="text"> When can we meet ?</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <p class="response-time time"> 15h04</p>-->
<!--                  <div class="message">-->
<!--                    <div class="photo"-->
<!--                         style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">-->
<!--                      <div class="online"></div>-->
<!--                    </div>-->
<!--                    <p class="text"> 9 pm at the bar if possible 😳</p>-->
<!--                  </div>-->
<!--                  <p class="time"> 15h09</p>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
