/* You can add global styles to this file, and also import other style files */
@import "/Users/mac/IdeaProjects/teenjobhub/node_modules/font-awesome/css/font-awesome.min.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: block;
  height: -webkit-fill-available;
}
