<div class="job-spaces">
  <div class="pending-requests">
    <p>Pending Requests </p>
    <div *ngIf="!loadingPendingInvitations" class="pending-requests-container">
      <div *ngFor="let pendingInvitation of pendingInvitations | async" class="pending-request">
        <div class="user-profile">
          <img alt="/assets/images/user.png" src="http://localhost:8091/file/{{ pendingInvitation.admin.userImage }}">
        </div>
        <div>{{ pendingInvitation.admin.firstName + " " + pendingInvitation.admin.lastName }} invited you to join the job space {{ pendingInvitation.name }}</div>
        <div class="icons" style="margin-right: 10px">
          <button (click)="onAcceptJobSpaceRequest(pendingInvitation.id,true)"><i class="fas fa-check-circle"></i>
          </button>
          <button><i class="fas fa-times-circle"></i></button> <!-- Cross icon -->
        </div>
      </div>

    </div>
  </div>

  <div class="suggestion">
    <div class="jb-header">
      <div>Enrolled In</div>
        <button (click)="openDialog()"><i class="fas fa-plus-square"></i></button> <!-- Cross icon -->
    </div>
    <div *ngIf="!loadingUserJobSpaces" class="enrolled-in" style="padding: 10px">
      <div *ngFor="let userJobSpace of userJobSpaces | async">
        <div class="job-space-name">
          <h4>
            {{userJobSpace.name}}
          </h4>
        </div>
        <div class="job-space-admin">
          <h5>Admin</h5>
<!--          <div class="user-profile">-->
<!--            <img alt="/assets/images/user.png" src="http://localhost:8091{{ userJobSpace.admin.userImage }}">-->
<!--          </div>-->
          <div>{{ userJobSpace.admin.firstName + " " + userJobSpace.admin.lastName }}</div>
        </div>
        <h5>
          Staff
        </h5>
        <div *ngFor="let staff of userJobSpace.staff">
          <div class="job-space-staff">
<!--            <div class="user-profile">-->
<!--              <img alt="/assets/images/user.png" src="http://localhost:8091{{ staff.userProfile.userImage}}">-->
<!--            </div>-->
            <div>{{ staff.userProfile.firstName + " " + staff.userProfile.lastName  }}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
