
.pending-requests {
  width: 100%;
  height: fit-content;
  margin: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;

}
.icons {
  display: flex;
  align-items: center; /* Center icons vertically */
}

.icons i {
  font-size: 20px; /* Adjust icon size as needed */
  margin-left: 10px; /* Add space between icons and text */
}


.suggestion {
  width: 100%;
  height: fit-content;
  margin: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;

}

.job-spaces {
  width: 200%;
  display: flex;
  flex-direction: column;
}

.pending-requests-container {
  display: flex;
  flex-direction: column;
}

.pending-request {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-right: 20px; /* Adjust margin between items */
  margin-bottom: 20px; /* Adjust margin between items */
  justify-content: space-between;
}

.user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.jb-header{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f4f4f4; /* Adjust the background color as needed */
  border: 1px solid #ddd; /* Adjust the border as needed */
  border-radius: 5px; /* Optional: add some border-radius for rounded corners */
}
